@media only screen and (max-width: 390px) {
    .st{margin-top: -10px !important;}
 
    #change{
        height: 100px;
        background-color: #ECE8D9;
    }
    #step1{
        display: none;
        padding: 4px;
        /* margin-left: -15px; */
        padding-bottom: 20px;

        
        }
        #too{
            font-size: smaller;
        
        }
        #h{
            display: none;
        }
        #we{
            margin-left: -40px;
        }
        #we1{
            margin-left: -20px;
        }
        
        #niger{
            border: solid rgb(224, 224, 224);
            height: 30px;
            width: 100px;
            font-size: small;
            margin-left: -10px;
        }
        #what{
            margin-right: 80px;
            height: 30px;
        }
        #hand{
        display: none;
       
        }
        #king1{
            padding-right: 50px;
            font-size: small;
        }
        #king2{
        font-size: x-small;
        height: 30px;
        /* display: none; */
        }
        #step1b{
            margin-top: -20px;
        }
        #fom{
            width: 280px;
        }
       
       
        
        #small{
          display: contents;
          
          width: 50px;
          height: 50vh;
          
        }
        
        
        #for a{
            text-decoration: none;
            
        }
        #why{
        padding: 20px;
        }
        #ng{
            height: 12px;
            
        }
        #why2{
          font-size: x-small;
        }
        .us{
            color: rgb(25, 25, 121);
        }
        #move{
           display:none;
        }
        #pic{
            font-size:larger;
        width: 400px;
        height: 25vh;
        }
       
        
        }

        .cal{
            height: 270px !important;
        }
        .dol{
            height: 270px !important;
        }
        .si{
        height: 271px !important;
        }

        .two{
        height:268px !important;
        }
        .wi{
            height: 130px !important;
        }
        .h, .hex, .tx{
            height: 25px !important;
        }
        .heigh{
            height: 25px;
        }
        
.num{
    width: 90% !important; margin-top: -20px !important;
}
.tg{
    width: 90% !important;
     margin-top: -20px !important;
}
body{
    overflow-x: hidden;
    height: 100vh !important;
}
#step1 img{
font-size: small;
}
#step1a a {
    text-decoration: none;
    color:rgb(15, 15, 61);
    }
#step1a{
    background-color: #f7f6f4;
    color: #506685;
    
}
.st{margin-top: -10px !important;}
nav{
    background-color: #ECE8D9 !important; 
}
.su{
    margin-right: 70px !important;
}

.pu{
    background-color: #ECE8D9 !important;
}
.qu{
    color: #384A62 !important;
    font-size: 70px !important;
    font-family: Dm serif !important;
}
.h4{
    color: #708095 !important; 
    font-size: 30px !important;
}
.ol{
    color: #384A62;
}
#niger{
    border: solid rgb(224, 224, 224);
    height: 40px;
    width: 130px;
    border-radius: 200px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: -30px;
    margin-top: 15px;
}
#hand{

transform: translatex(30px);
    margin: 40px 0 0 105px;
}
#step1b{
    margin-top: -20px;
}
#but1{
    border-radius: 5px;
    border: thin solid black;
    height: 35px;
    padding-top: 4px;
    color: white;
    text-decoration: none;
    border: none;
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #D77F81;
}
.mum{
    font-size: 15px;
    color: rgb(106, 106, 135);
}
#img img:hover{
cursor: pointer;
transform: scale(1.06);

}
#img{
background-color: white;
}
.lol{
    width: 100% !important; 
    background-color: #384A62 !important;
}

.rex{
    margin-top: 100px !important;
}

.hn{
    color: #384A62 !important;
}
.hn1{
    color: #384A62 !important;
}
.sect1{
    background-color:#EDF6FD; 
     margin-top: 100px;
}
.sed{
    font-family:serif display ,serif !important;
     background-color: #f7f6f4 !important;
      margin-top: 30px !important;
}
.hne4{
    color:#384A62  !important;
}
#pic{
    font-size:larger;
width: 400px;
height: 20vh;
}
#sch{
    margin-left: -50px;
    margin-top: 40px;
}
#small{
  display:none;

}

#need{
padding: 10px;
padding-left: 70x;
margin: 5px 0px 5px -135px;
    width: 130px;
color: white;
border-radius: 2px;
z-index: 99;
    background-color: darkblue;
    
}
#for a{
    text-decoration: none;
    
}
#why{
    background-color: #ECE8D9;
    margin-top: -25px;
    padding: 20px;
}
#why2{
    background-color: #ECE8D9;
    margin-top: -50px;
}
.us{
    color: rgb(25, 25, 121);
}
#move{
    position: fixed;
    z-index:99;
    margin-top: 195px;
}
#ton{
    margin-left: 20px;
    width: 130px;
    height: 5vh;
    border: none;
    color: white;
    padding-right: 60px;
    font-size: large;
    border-radius: 5px 5px 0 0;
    background-color:#f7279e;
}
#in{
    height: 12vh;
    font-size: large;

    
}
.ton{
    margin-left: -20px;
    margin-top: -6px;
    width: 25px;
    height: 25px;
    font-size: large;
    color: white;
    padding: 0px 0 0 7px;

    border-radius: 200px;
    border: none;
    background-color: rgb(182, 11, 11);
}



@media only screen and (max-width: 900px) {
    .st{margin-top: -10px !important;}
    #step1{
        display: none;
        padding: 4px;
        margin-left: -15px;
        padding-bottom: 20px;

        
        }
        #pic{
            font-size:larger;
        width: 400px;
        height: 23vh;
        }
        #h{
            display: none;
        }
        #we{
            margin-left: -40px;
        }
        #we1{
            margin-left: -20px;
        }
        
        #niger{
            border: solid rgb(224, 224, 224);
            height: 30px;
            width: 100px;
            font-size: small;
            margin-left: -50px;
        }
        #what{
            margin-right: 80px;
            height: 30px;
        }
        #hand{
        display: none;
       
        }
        #king1{
            padding-right: 50px;
            font-size: small;
        }
        #king2{
        font-size: x-small;
        height: 30px;
        /* display: none; */
        }
        #step1b{
            margin-top: -20px;
        }
        #fom{
            width: 280px;
        }
       
       
        
        #small{
          display: contents;
          width: 50px;
          height: 50vh;
          
        }
        
        
        #for a{
            text-decoration: none;
            
        }
        #why{
        padding: 20px;
        }
        #ng{
            height: 12px;
            
        }
        #why2{
          font-size: x-small;
        }
        .us{
            color: rgb(25, 25, 121);
        }
        #move{
           display:none;
        }
       
        
        }

