body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#left-body {
    /* position: fixed; */
    border: thin solid;
    /* width: fit-content; */
    /* max-width: 300px !important; */
    width: 20vw !important;
    height: 100vh;
    background: #303032;
}

#prod {
    margin: 50px 15px 50px 50px;
    /* border: thin solid; */
    width: 157px;
    height: 51px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #FFFFFF;
}

#upper {
    display: block;
    width: fit-content;
    margin: 30px;
}

#list {
    width: max-content;
    /* padding: 20px; */
    /* border: thin solid red; */
    margin-left: 50px;
}

#list ul {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    vertical-align: middle;
    line-height: 50px;
}

#list ul li {
    transition: padding 1s ease-in-out;
}

#list ul li:hover {
    /* border: thin solid red; */
    width: 200px;
    padding-left: 20px;
    border-radius: 20px 0 0 20px;
    background-color: #111116;
    color: #EFEE56;
}

#list ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

#list ul li a:hover {
    color: #EFEE56;
}

hr {
    color: #FFFFFF !important;
    /* border:thick solid red !important; */
    width: 150px;
}

#right-body {
    /* border: thin solid red !important; */
    position: relative;
    width: 100vw !important;
    height: 100vh;
    background: #2A2A2B;
}

#top {
    display: flex !important;
    justify-content: space-between;
    margin: 50px;
}

#btn {
    position: relative;
    z-index: 20 !important;
    background: linear-gradient(98.23deg, #E7E656 -4.35%, rgba(231, 230, 86, 0.36) 120.66%);
    box-shadow: inset 9px 9px 12px rgba(208, 208, 109, 0.5);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

#fORM {
    /* position: absolute; */
    /* top: 30px;
    left: 50px; */
    border: 1px solid #EFEE56;
    border-radius: 20px;
    width: fit-content;
    background-color: #2A2A2B;
    padding: 10px;
}

#fORM img {
    padding-left: 5px;
    padding-right: 10px;
}

#fORM input {
    padding-left: 20px;
    background-color: #2A2A2B;
    border: none !important;
    outline: none;
    color: #FFFFFF;
}

#fORM input::placeholder {
    font-size: 18px;
}

#Dash {
    font-size: 24px;
    font-weight: 600;
    color: white;
    padding-left: 50px;
}

#left {
    display: grid;
    /* gap: 20px; */
}

#border-first {
    border: 1px solid #353537;
    border-radius: 20px;
    background-color: #353537;
    max-width: fit-content;
    /* margin: 20px 50px; */
    margin-top: 20px;
    margin-left: 50px;
    display: flex !important;
    flex-direction: row;
    padding: 10px 30px;
}

#border-first img {
    width: 180px;
}

#get {
    text-align: center;
    /* position: relative; */
    /* top: 0; */
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

#btns {
    /* display: flex; */
    position: relative;
    bottom: 0;
    padding: 10px 10px;
}

#btns button {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

#btns button:nth-child(1) {
    background: linear-gradient(98.23deg, #E7E656 -4.35%, rgba(231, 230, 86, 0.36) 120.66%);
    box-shadow: inset 9px 9px 12px rgba(208, 208, 109, 0.5);
}

#btns button:nth-child(2) {
    border-color: #E7E656;
    color: #E7E656;
}

#inner-left {
    /* border: thin solid; */
    margin: auto;
    width: max-content;
    padding: 20px;
    /* border: thin solid; */
    flex-direction: column;
    order: 1;
}

#border-second {
    border: 1px solid #353537;
    border-radius: 20px;
    background-color: #353537;
    max-width: fit-content;
    /* margin: 20px 50px; */
    margin-top: 20px;
    margin-left: 50px;
    display: flex !important;
    flex-direction: row;
    /* padding: 10px 30px; */
    padding: 10px 30px;
}

#right-border {
    position: absolute;
    right: 100px;
    border: 1px solid #353537;
    border-radius: 20px;
    background-color: #353537;
    max-width: 25%;
    margin-top: 20px;
    margin-left: 50px;
    /* padding: 30px; */
    height: 50vh;
}

.down {
    /* border: thin solid; */
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 20px 50px;
    text-align: center;
    max-width: 200px;
}

.downl {
    /* border: thin solid; */
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 20px 30px;
    text-align: center;
    max-width: 200px;
}

#btns2 {
    margin: 20px 35px;
    padding: 10px 10px;
    display: grid;
    gap: 10px;
}

#btns2 button {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

#btns2 button:nth-child(1) {
    background: linear-gradient(98.23deg, #E7E656 -4.35%, rgba(231, 230, 86, 0.36) 120.66%);
    box-shadow: inset 9px 9px 12px rgba(208, 208, 109, 0.5);
}

#btns2 button:nth-child(2) {
    border-color: #E7E656;
    color: #E7E656;
}

#inner-right {
    /* border: thin solid; */
    margin: auto;
    width: fit-content;
    padding: 20px;
    /* border: thin solid; */
    flex-direction: column;
    /* order: 1; */
}

#circle1 {
    position: absolute;
    width: 472px;
    height: 472px;
    /* left: 950px;
    top: -246px; */
    right: -420px;
    top: -300px;
    background: #E7E656;
    background: radial-gradient(50% 50% at 50% 50%, rgba(228, 228, 88, 0.3) 0%, rgba(228, 228, 88, 0) 100%);
    filter: blur(166px);
}

#circle2 {
    position: absolute;
    width: 472px;
    height: 472px;
    /* left: 950px; */
    right: -420px;
    bottom: -300px;
    background: #E7E656;
    background: radial-gradient(50% 50% at 50% 50%, rgba(228, 228, 88, 0.3) 0%, rgba(228, 228, 88, 0) 100%);
    filter: blur(166px);
}

#circle3 {
    position: absolute;
    width: 472px;
    height: 472px;
    left: -220px;
    /* right: -420px; */
    top: -300px;
    background: #E7E656;
    background: radial-gradient(50% 50% at 50% 50%, rgba(228, 228, 88, 0.3) 0%, rgba(228, 228, 88, 0) 100%);
    filter: blur(166px);
}

#circle4 {
    position: absolute;
    width: 472px;
    height: 472px;
    left: -200px;
    /* right: -420px; */
    bottom: -300px;
    background: #E7E656;
    background: radial-gradient(50% 50% at 50% 50%, rgba(228, 228, 88, 0.3) 0%, rgba(228, 228, 88, 0) 100%);
    filter: blur(166px);
}