/* body {
    background-color: rgb(42, 42, 43);
} */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#left-body {
    /* position: fixed; */
    border: thin solid;
    /* width: fit-content; */
    /* max-width: 300px !important; */
    height: 100vh;
    width: 20vw;
    background: #303032;
}

#prod {
    margin: 50px 15px 50px 50px;
    /* border: thin solid; */
    width: 157px;
    height: 51px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    color: #FFFFFF;
}

#upper {
    display: block;
    width: fit-content;
    margin: 30px;
}

#list {
    width: max-content;
    /* padding: 20px; */
    /* border: thin solid red; */
    margin-left: 50px;
}

#list ul {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    vertical-align: middle;
    line-height: 50px;
}

#list ul li {
    transition: padding 1s ease-in-out;
}

#list ul li:hover {
    /* border: thin solid red; */
    width: 200px;
    padding-left: 20px;
    border-radius: 20px 0 0 20px;
    background-color: #111116;
    color: #EFEE56;
}

#list ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

#list ul li a:hover {
    color: #EFEE56;
}

hr {
    color: #FFFFFF !important;
    /* border:thick solid red !important; */
    width: 150px;
}

.right {
    background-color: #2A2A2B;
    height: 100vh;
    width: 80vw;
}

input {
    border-color: black !important;
    font-family: 'Inter', serif !important;
    height: 8vh !important;
    width: 27vw !important;
}

label {
    font-family: 'Inter', serif !important;
}

input:focus {
    font-family: 'Inter', serif !important;
    outline-color: #B0AF4A !important;
    /* font-size: 2.5rem !important; */
    box-shadow: 0px 0px 0px 4px rgba(176, 175, 74, 0.47) !important;
}

button {
    height: 8vh !important;
    width: 10vw !important;
    border: none !important;
    background: linear-gradient(98.23deg, #E7E656 -4.35%, rgba(231, 230, 86, 0.36) 120.66%);
    box-shadow: inset 9px 9px 12px rgba(208, 208, 109, 0.5);
    border-radius: 14px;
}

button:focus {
    outline-color: #B0AF4A !important;
    box-shadow: 0px 0px 0px 4px rgba(176, 175, 74, 0.47) !important;
}

.task {
    height: 14vh;
    width: 50vw;
    border-radius: 10px;
    color: white;
    background-color: #303032;
}

.edit,
.delete {
    height: 6vh !important;
    width: 6vw !important;
    background: #0D6EFD;
    box-shadow: none;
    color: white;
    font-size: 1.3rem !important;
}

.delete {
    background-color: #DC3545;
}

.over {
    height: 70vh;
    width: 60vw;
    overflow-y: auto !important;
    /* background-color: #0D6EFD; */
}

.down {
    background-color: #2A2A2B!important;
}

.bt {
    background-color: none;
    box-shadow: none !important;
    color: white !important;
}

.bt:focus {
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
}